a {
  color: white;
}

a:visited { text-decoration: none; color:white;}
a:hover { text-decoration: none;}
a:focus { text-decoration: none;}
a:hover, a:active { text-decoration: none;}

.landing-page{
  /*background-color: rgba(176, 48, 96, 0.8);*/
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, yellow); /* Standard syntax (must be last) */
}

.title-text{
  font-family: 'Yesteryear', cursive;
  font-size: 172px;
  padding: 30px 20px;
  background-color: rgba(255, 255, 255, 0.9);
}

.descrption-text{
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 45px 30px;
  padding: 10px;
}

.center-text{
  text-align: center;
}

.main-image{
  max-width:100%;
}

.img-wrap{
  max-height: 750px;
}

.overlay{
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: visible;
  color: white;
  background-color: rgba(176, 48, 96, 0.90);
}

.DB-posts{
  font-size: 46px;
  margin-bottom: 4%;
}

.article-links{
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
}

.article-links a:hover{
  color: yellow;
  text-decoration: none;
}

.extra-info{
  margin-top: 5%;
  font-size: 24px;
  margin-bottom: 3%;
}

.extra-info-text{
  font-size: 16px;
}

.db-logo{
  margin-top: 5%;
  height: 48px;
  width: 48px;
}


@media (max-width: 500px) and (max-width: 1000px){
  .title-text{
    font-size: 82px;
  }

  .DB-posts{
    font-size: 32px;
  }

  .article-links{
    font-size: 12px;
  }

  .extra-info{
    font-size: 18px;
  }

  .extra-info-text{
    font-size: 14px;
  }
}
